.category-aggregator {
    color: $p_text;
    a {
        color: $p_text;
        &:hover {
            color: $primary;
        }
    }
    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid $p_text_dimmed;
        margin: $gap auto $gap * 0.5 auto;
    }
    article {
        position: relative;
        .article-date {
            font-weight: 700;
            padding-left: 18px;
            font-style: italic;
            margin-top: -0.6em;
            color: $p_text_dimmed;
            font-size: 0.9em;
        }
        .article-read {
            position: absolute;
            right: 10px;
            font-size: 0.8em;
            bottom: 0;
        }
    }
    section {
        p {
            width: 90%;
            line-height: 1.7em;
            padding-left: 18px;
        }
    }
}