.post {
    font-size: 1.2em;
    color: black;
    a {
        transition: all 300ms ease 0s;
        cursor: pointer;
        text-decoration-line: none;
        text-decoration: underline $primary;
        &:hover {
            color: $primary;
            font-weight: 500;
        }
    }
    .language-plaintext, .language-shell, .language-html {
        border-radius: 3px;
        padding: 1px 3px;
        background-color:rgb(228, 230, 232);
    }
    figure {
        margin: 0;
        width: 100%;
        img {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    p, ul {
        margin-bottom: $gap * .5;
        margin-top: $gap * .5;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    li {
        display: list-item;
    }

    &-content {
        background: $base-white;
        padding: 2rem;
        border-radius: 10px;
    }
}