$base-white: #fafafa;
$main-bg-color: #162129;

$primary: #4fc2f7;
$p_light: #81d3fa;
$p_lighter_less: #81d3fa;
$p_lighter: #b3e4fc;
$p_lightest: #e1f5fe;
$p_dark: #09a7f4;
$p_darker: #0986d0;
$p_darkest: #07559a;

$dark: #162129;

$secondary: #f7844f;
$s_light: #faa682;
$s_lighter: #fdc9b3;
$s_lightest: #fbe8e4;
$s_dark: #001970;

$p_text: #ecf8ff;
$p_text_dimmed: #5e8ca7;
$s_text: #ffffff;

$post_content_bg_color: #fff;
