$content-width-desktop: calc(100% - #{$menu-size});
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
    @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
@mixin desktop {
    @media only screen and (min-width: #{$desktop-width}) {
      @content;
    }
}

@mixin mobile {
    @media only screen and (max-device-width: #{$tablet-width - 1px}) {
        @content;
    }
}