$base-white: #fafafa;
$main-bg-color: #fafafa;
$dark: #1c313a;
$primary: #455a64;
$p_light: #718792;
$p_lighter_less: #8fa4ad;
$p_lighter: #a8bac2;
$p_lightest: #eef3f5;
$p_dark: #1c313a;
$p_darkest: #1c313a;
$secondary: #303f9f;
$s_light: #666ad1;
$s_lighter: #a0a0d1;
$s_dark: #001970;
$p_text: #1c313a;
$p_text_dimmed: #5e8ca7;
$s_text: #ffffff;
