---
layout: default
---
<div class="content-container category-aggregator {{ page.category }}">
    <h1>{{ page.title }}</h1>
    <p>{{ page.summary }}</p>
    {{content}}
    <hr class="content-separator">
    {% for post in site.posts %}
        {% if post.category == page.category %}
            <article>
                <header>
                    <h2>
                        {% if post.external_url %}
                        <a href="{{ post.external_url | relative_url }}" target="_blank">
                        {% else %}
                        <a href="{{ post.url | relative_url }}">
                        {% endif %}
                            <i class="fas fa-angle-right"></i>
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="article-date">{{ post.date | date: "%Y-%m-%d" }}</p>
                </header>
                <section>
                    <p>
                        {{ post.summary }}
                    </p>
                </section>
                <span class="article-read">
                    {% if post.external_url %}
                    <a href="{{ post.external_url | relative_url }}" target="_blank">
                    {% else %}
                    <a href="{{ post.url | relative_url }}">
                    {% endif %}                        {% if post.external_name %}
                        Read more on {{ post.external_name }} &rarr;
                        {% else %}
                        Read more &rarr;
                        {% endif %}
                    </a>
                </span>
                <hr>
            </article>
        {% endif %}
    {% endfor %}
</div>
