<!doctype html>
<html>
  <head>
    {% include common-head.html %}
    <script>
      {% include home.js %}
    </script>
  </head>
  {% if site.data.menu.minimal_menu and site.data.menu.show_menu_on_category_select %}
  <body class="is-minimal-menu" >
  {% else %}
  <body>
  {% endif %}
    {% if site.data.menu.show_menu_on_category_select %}
    {% include menu.html %}
    <main class="content-layout">
    {% else %}
    <main class="content-layout no-menu">
    {% endif %}
        <div class="home">
            {% for menu_item in site.data.menu.menu_pages %}
                {% if menu_item.show_on_home %}
                    <a href="{{ menu_item.url | relative_url }}" class="category-container">
                        <div class="category" style="background-image: url('{{ menu_item.image_url | relative_url}}')"></div>
                        <p>
                            {{ menu_item.title }}
                        </p>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
      </main>
  </body>
</html>

